

<section class="edit-movie">
  <form class="example-form" fxLayout="column" #f="ngForm" fxLayoutGap="8px">

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Title" 
      required validateUniqueNameEdit ngModel="{{this.passedData.movie.Title}}" name="movieTitle">
      <mat-hint>Should be uniquelly filled </mat-hint>
      <mat-error> Cant have the same title as other movie! </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Year" value="{{this.passedData.movie.Year}}" required
       ngModel="{{this.passedData.movie.Year}}" name="movieYear"  pattern="[0-9]{4}">
       <mat-hint>Should be valid year</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Runtime" ngModel="{{this.passedData.movie.Runtime}}" required  name="movieRuntime">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Genre" ngModel="{{this.passedData.movie.Genre}}" required name="movieGenre">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Director" ngModel="{{this.passedData.movie.Director}}" required name="movieDirector">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" ngModel="{{this.passedData.movie.Plot}}" name="movieDescription"></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button [mat-dialog-close]="f" color="" class="btn" [disabled]="f.invalid"> Save</button>
    <button mat-raised-button [mat-dialog-close]="false" class="btn"> Cancel </button>
  </form>


</section>