<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr class="style11">
</div>
<div class="componentsArea">
<app-c1>

</app-c1>
</div>