

<section class="edit-movie">
  <form class="example-form" fxLayout="column" #f="ngForm" fxLayoutGap="8px">
   

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Title" required ngModel name="movieTitle" 
      validateUniqueName>
      <mat-hint>Should not be empty</mat-hint>
      <mat-error> Cant have the same title as other movie! </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Year"  required
       ngModel name="movieYear"  pattern="[0-9]{4}">
       <mat-hint>Should be valid year</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Runtime" ngModel required  name="movieRuntime">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Genre" ngModel required name="movieGenre">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Director" ngModel required name="movieDirector">
      <mat-hint>Should not be empty</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" ngModel name="movieDescription"></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button [mat-dialog-close]="f" color="" class="btn" [disabled]="f.invalid"> Save</button>
    <button mat-raised-button [mat-dialog-close]="false" class="btn"> Cancel </button>
  </form>


</section>