<ul>
  <li>
    <a [href]="link" target="_blank" rel="noopener">
      Link using <b> property binding  </b>
    </a>
  </li>
  <li>
    <div>
      <p>the links values are: (example for using <b>string interpelation</b> and <b>*ngFor</b>) </p>
      <ul *ngFor="let link of links">
        <li> {{link}} </li>
      </ul>
    </div>
  </li>
  <li>
    <button class="btn btn-primary" (click)="onBtnClick()"> Click me for <b>Event Binding</b> </button>
  </li>
  <li>
    <input 
    type="text"
    class="form-control"
    (input)="onUpdateInput($event)">
    <ng-container *ngIf="isTyped">
        <ul *ngFor="let c of inputValArray">
            <li> {{c}} </li>
          </ul>
    </ng-container>
      
  </li>
  <li *ngIf="isTyped">
    {{textFromInput}}
  </li>

  <li>
    Two way binding:
    <input type="text" class="form-control" [(ngModel)]="twoWayInput"> 
  </li>
  <li>
    {{twoWayInput}}
  </li>

  <li>
    <div>
      <p>Section2, Assingment 2:</p>
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter user name"> 
      <p>{{username}}</p>
      <p>
        <button class="btn btn-primary" (click)="onClick2()"[disabled]="(username.length==0)" >  Click me </button>
      </p>
    </div>
  </li>

  <li customDirective>
    This is li with custom directive (which not defined yet :( )
  </li>
  <li>
    <p>This select contains local reference</p>
    <select #localRef class="form-group">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </li>
  <li>
    <button class="btn btn-primary" (click)="localRef.disabled=true"> Click me to disable drop down </button>
  </li>

  <li>
    <p [ngStyle]="{backgroundColor: getColor()}"> the backgroundColor depends on the curent time </p>
  </li>
  
</ul>